            <header class="bar-title">
                <h1 class="title">Select Location</h1>
                <div class="button-next">Next</div>
            </header>
                <div class="content" role="main">
                    <form action="" method="post" name="mapForm" id="mapForm" enctype="multipart/form-data" class="validate">

                    <script type="text/javascript">
                        var fixmystreet = {
                            'page': 'around',
                            'area': '',
                            'all_pins': '',
                            'latitude': 0,
                            'longitude': 0,

                            'zoom': 4,
                            'numZoomLevels': 5,
                            'zoomOffset': 13,
                            'map_type': "OpenLayers.Layer.WMTS",
                            'pins': [  ]

                        };

                    </script>

                    <div id="map_box">
                        <div id="map"></div>
                            <div id="search">
                                <input name="pc" id="pc"><input type="button" value="" id="btn-search">
                            </div>
                            <a id="mark-here" class="nodisplay">Create Report</a>
                            <a id="saved-reports" class="nodisplay">View Drafts</a>
                            <a id="use-location" class="nodisplay">Use this Location</a>
                    </div>
                    </form>
                </div>
