            <header class="bar-title">
                <div class="button-prev">Back</div>
                <h1 class="title">Add Details</h1>
            </header>
                <div class="content" role="main">
                    <div id="side-form">
                        <fieldset>
                            <div id="problem_form">
                                <div class="ext-form-content">

                                    <label for="form_detail">Beschreibung</label>
                                    <textarea rows="7" cols="26" name="detail" id="form_detail" placeholder="Beschreiben Sie den Mangel." required><%= report.details %></textarea>

                                    <% if ( report.categories ) { print( report.categories ) } else { %>
                                    <div id="form_category_row">
                                        <label class="inline" for="form_category">Kategorie</label>
                                        <select name="category" id="form_category" required><option>Loading...</option></select>
                                    </div>
                                    <% } %>

                                    <div>
                                        <label for="user-details" class="select">Persönlichen angaben:</label>
                                        <a id="user-details" name="user-details">Signed in as <%= user.email %><em class="edit_details-info">(click to edit)</em></a>
                                    </div>

                                    <div class="form-txt-submit-box">
                                        <input class="button-blue" type="button" id="send_report" name="send_report" value="Abschicken">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            <nav class="bar-tab">
                <ol class="ext-progress">
                    <li class="step step-complete">1</li>
                    <li class="step step-complete">2</li>
                    <li class="step step-current">3</li>
                </ol>
            </nav>
