            <header class="bar-title">
                <div class="button-prev">Zurück</div>
                <h1 class="title">Foto</h1>
            </header>
                <div class="content dot-background" role="main">
                    <div id="side-form">
                        <fieldset>
                            <div id="problem_form">
                                <div class="ext-form-content">
                                  <% if ( files.length < 3 ) { %>
                                      <div>
                                          <a class="button-blue" id="take-photo">Neues Foto machen</a>
                                      </div>
                                      <div>
                                          <a class="button-blue" id="add-photo">Foto hochladen</a>
                                      </div>
                                  <% } %>

                                  <% if ( files.length == 0 ) { %>
                                      <div class="center">
                                          <img class="ext-photo-preview" src="img/placeholder-photo.png" alt="">
                                      </div>
                                  <% } else { %>
                                      <div class="center">
                                          <% _.each(files, function(file, index) { %>
                                              <div class="ext-photo-preview photo-size-<%= files.length %>" style="background-image: url(<%= file %>)">
                                                  <a class="del-photo button-grey" data-file-index="<%= index %>">Foto löschen</a>
                                              </div>
                                          <% }); %>
                                      </div>
                                  <% } %>

                                  <div>
                                      <% if ( files.length == 0 ) { %>
                                          <a class="button-grey" id="skip-photo">Weiter ohne Photo</a>
                                      <% } else if ( files.length == 1 ) { %>
                                          <a class="button-blue" id="use-photo">Foto verwenden</a>
                                      <% } else { %>
                                          <a class="button-blue" id="use-photo">Use photos</a>
                                      <% } %>
                                  </div>
                                </div>

                                <input type="hidden" name="photo" id="form_photo" value="">
                            </div>
                        </fieldset>
                    </div>
                </div>
            <nav class="bar-tab">
                <ol class="ext-progress">
                    <li class="step step-complete">1</li>
                    <li class="step step-current">2</li>
                    <li class="step">3</li>
                </ol>
            </nav>
