            <header class="bar-title">
                <div class="button-prev">Zurück</div>
                <h1 class="title">Foto</h1>
            </header>
                <div class="content dot-background" role="main">
                    <div id="side-form">
                        <fieldset>
                            <div id="problem_form">
                                <div class="ext-form-content">
                                  <% if ( file ) { %>
                                  <div>
                                      <a class="nodisplay button-blue" id="take-photo">Neues Foto machen</a>
                                      <a class="button-grey" id="del-photo">Foto löschen</a>
                                  </div>
                                  <div>
                                      <a class="nodisplay button-blue" id="add-photo">Foto hochladen</a>
                                  </div>
                                  <% } else { %>
                                  <div>
                                      <a class="button-blue" id="take-photo">Neues Foto machen</a>
                                      <a class="nodisplay button-grey" id="del-photo">Foto löschen</a>
                                  </div>
                                  <div>
                                      <a class="button-blue" id="add-photo">Foto hochladen</a>
                                  </div>
                                  <% } %>
                                  <div class="center">
                                  <% if ( file ) { %>
                                      <img class="ext-photo-preview" src="<%= file %>" alt="" id="report-photo">
                                  <% } else { %>
                                      <img class="ext-photo-preview" src="img/placeholder-photo.png" alt="" id="report-photo">
                                  <% } %>
                                  </div>
                                  <div>
                                  <% if ( file ) { %>
                                      <a class="button-blue" id="use-photo">Foto verwenden</a>
                                      <a class="nodisplay button-grey" id="skip-photo">Weiter ohne Photo</a>
                                  <% } else { %>
                                      <a class="nodisplay button-blue" id="use-photo">Foto verwenden</a>
                                      <a class="button-grey" id="skip-photo">Weiter ohne Photo</a>
                                  <% } %>
                                  </div>
                                </div>

                                <input type="hidden" name="photo" id="form_photo" value="">
                            </div>
                        </fieldset>
                    </div>
                </div>
            <nav class="bar-tab">
                <ol class="ext-progress">
                    <li class="step step-complete">1</li>
                    <li class="step step-current">2</li>
                    <li class="step">3</li>
                </ol>
            </nav>
