            <header class="bar-title">
                <div class="button-prev">Zurück</div>
                <h1 class="title">Beschreibung</h1>
            </header>
            <div class="content" role="main">
                    <div id="map_box" style="height: 10em; ">
                        <div id="map"></div>
                    </div>

                    <% var banner_class = 'closed';
                        var pin_colour = 'red';
                        if ( state.contains('fixed') || state == 'closed' ) {
                            pin_colour = 'green';
                            banner_class = 'fixed';
                        } else if ( state == 'in progress' ) {
                            pin_colour = 'yellow';
                            banner_class = 'progress';
                    } %>

                    <input type="hidden" name="zoom" value="7">
                    <script type="text/javascript">
                    var fixmystreet = {
                        'page': 'report',
                        'area': [  ],
                        'all_pins': '',
                        'latitude': <%= lat %>,
                        'longitude': <%= lon %>,

                        'zoom': 7,
                        'numZoomLevels': 9,
                        'zoomOffset': 0,
                        'map_type': OpenLayers.Layer.WMTS,
                        'pins': [     [ <%= lat %>, <%= lon %>, '<%= pin_colour %>', '', "", 'big' ]
                     ]

                    };
                    setup_wmts_config();
                    </script>

                    <div class="banner">
                        <p id="<%= banner_class %>"><%= state_t %></p>
                    </div>

                    <div class="problem-header cf">
                        <h1>In der Kategorie <%= category %> gemeldet</h1>
                        <p class="sub">
                            <%= created_pp %>
                        </p>

                        <% if ( photo ) { %>
                        <div class="update-img">
                            <img alt="Foto dieser Meldung" src="<%= photo %>">
                        </div>
                        <% } %>

                        <p>
                        <%= details %>
                        </p>
                    </div>

                    <% if (update_time ) { %>
                        <h4 class="static-with-rule">Antwort</h4>
                        <ul class="issue-list">
                            <li>
                                <div class="update-wrap">
                                    <div class="update-text">
                                        <p class="meta-2"><%= update_time %></p>
                                        <p><%= update %></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    <% } %>
        </div>
