        <header class="bar-title">
            <a class="button-prev">Home</a>
            <h1 class="title">Settings</h1>
        </header>
        <div class="content" role="main">
            <ul class="list">
                <li>
                    <a id="settings">
                        Settings
                        <span class="chevron"></span>
                    </a>
                </li>
                <li>
                    <a id="help">
                        Help
                        <span class="chevron"></span>
                    </a>
                </li>
                <li>
                    <a id="licence">
                        Licences
                        <span class="chevron"></span>
                    </a>
                </li>
                <li>
                    <a id="privacy">
                        Privacy Policy
                        <span class="chevron"></span>
                    </a>
                </li>
                <li>
                    <a id="about">
                        About this App
                        <span class="chevron"></span>
                    </a>
                </li>
            </ul>
        </div>
