        <header class="bar-title">
            <a class="button-prev">Start</a>
            <h1 class="title">Einstellungen</h1>
        </header>
        <div class="content dot-background" role="main">
            <ul class="list">
                <li>
                    <a id="settings">
                        Benutzerdaten
                        <span class="chevron"></span>
                    </a>
                </li>
                <li>
                    <a id="help">
                        Hilfe
                        <span class="chevron"></span>
                    </a>
                </li>
                <li>
                    <a id="privacy">
                        Disclaimer
                        <span class="chevron"></span>
                    </a>
                </li>
            </ul>
        </div>
