            <header class="bar-title">
                <div class="button-prev">Prev</div>
                <h1 class="title">Personal Details</h1>
                <div class="button-next">Next</div>
            </header>
                <div class="content" role="main">

                    <form action="" method="post" name="mapForm" id="mapForm" enctype="multipart/form-data" class="validate" data-ajax="false">

                            <fieldset>
                                <div id="problem_form">
                                    <div id="signed_in">

                                        <p id="confirm_details">Confirm details</p>
                                        <div id="name_details">
                                            <label for="form_may_show_name">Name</label>
                                            <input type="text" class="validName" value="" name="name" id="form_name" placeholder="Your name">

                                            <label for="form_phone">Phone number</label>
                                            <input type="text" value="" name="phone" id="form_phone" placeholder="Your phone number (optional)">
                                        </div>

                                    </div>

                                    <div id="signed_out">
                                    <label for="form_email" id="email_label">Your email</label>
                                    <input type="email" value="" name="email" id="form_email" placeholder="Please enter your email address" required>

                                                <div class="form-txt-submit-box form-focus-hidden">
                                                    <input class="green-btn button-submit" type="button" id="submit_register" name="submit_register" value="Report">
                                                </div>

                                            </div>
                                        </div>
                                        </div>

                                        <div id="report_save" class="form-box">
                                            <h5>Save this report for completion later</h5>
                                            <div class="form-txt-submit-box">
                                                <input class="green-btn" type="button" id="save_report" name="save_report" value="Save">
                                            </div>
                                        </div>
                                </div>
                            </fieldset>

                            <input type="hidden" name="submit_problem" value="1">
                        </div>

                    </div>
                    </form>
                </div>
            <nav class="bar-tab">
                <ol class="ext-progress">
                    <li class="step step-complete">1</li>
                    <li class="step step-complete">2</li>
                    <li class="step step-current">3</li>
                </ol>
            </nav>
