            <header class="bar-title">
                <h1 class="title">Persönlichen angaben</h1>
            </header>
                <div class="content" role="main">
                    <div id="side-form">
                        <fieldset>
                            <div id="problem_form">
                                <div class="ext-form-content">
                                    <div>
                                        <label for="form-email">E-Mail Adresse:</label>
                                        <input type="email" email="form-email" id="form-email" value="<%= email %>">
                                    </div>
                                    <div>
                                        <label for="form-name">Name (optional):</label>
                                        <input type="text" name="form-name" id="form-name" value="<%= name %>">
                                    </div>
                                    <div>
                                        <label for="form-phone">Telefonnummer (optional):</label>
                                        <input type="text" phone="form-phone" id="form-phone" value="<%= phone %>">
                                    </div>

                                  <div>
                                      <a class="button-blue" id="save">Save Details</a>
                                  </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
