            <header class="bar-title">
                <h1 class="title">Willkommen zu</h1>
            </header>
                <div class="content" role="main" id="first-page">
                    <div id="welcome">
                        <h1>Z&uuml;ri wie neu</h1>

                        <p>
                            Geben Sie Ihre Kontaktdaten an um Mängel melden zu können
                        </p>
                    </div>

                    <div id="side-form">
                        <fieldset>
                            <div id="problem_form">
                                <div class="ext-form-content">
                                    <div>
                                        <label for="form-email">E-Mail Adresse</label>
                                        <input type="email" email="form-email" id="form-email">
                                    </div>
                                    <div>
                                        <label for="form-name">Name (optional)</label>
                                        <input type="text" name="form-name" id="form-name">
                                    </div>
                                    <div>
                                        <label for="form-phone">Telefonnummer (optional)</label>
                                        <input type="tel" phone="form-phone" id="form-phone">
                                    </div>

                                  <div>
                                      <input type="button" class="button-blue" id="save" value="Speichern">
                                  </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
