<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.zueriwieneu.zueriwieneu" ios-CFBundleVersion="1.2.9.20180315.1" version="1.2.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Zuri Wie Neu</name>
    <author email="apps@mysociety.org" href="http://www.mysociety.org">
        mySociety Ltd
    </author>
    <content src="index.html" />
    <access origin="http://127.0.0.1*" />
    <access origin="https://zurich.fixmystreet.staging.mysociety.org" />
    <access origin="https://www.zueriwieneu.ch" />
    <access origin="https://zurich.fixmystreet.com" />
    <access origin="https://www.gis.stadt-zuerich.ch" />
    <allow-intent href="mailto:*" />
    <log level="DEBUG" />
    <preference name="useBrowserHistory" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="Orientation" value="portrait" />
    <icon src="www/res/icon.png" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="25" />
        <icon density="ldpi" src="www/res/android/ldpi.png" />
        <icon density="mdpi" src="www/res/android/mdpi.png" />
        <icon density="hdpi" src="www/res/android/hdpi.png" />
        <icon density="xhdpi" src="www/res/android/xhdpi.png" />
        <splash density="hdpi" src="www/res/screen/android/splash-hdpi.png" />
        <splash density="ldpi" src="www/res/screen/android/splash-ldpi.png" />
        <splash density="mdpi" src="www/res/screen/android/splash-mdpi.png" />
        <splash density="xhdpi" src="www/res/screen/android/splash-xhdpi.png" />
    </platform>
    <platform name="ios">
        <icon height="29" src="www/res/ios/icon-29.png" width="29" />
        <icon height="40" src="www/res/ios/icon-40.png" width="40" />
        <icon height="50" src="www/res/ios/icon-50.png" width="50" />
        <icon height="57" src="www/res/ios/icon-57.png" width="57" />
        <icon height="58" src="www/res/ios/icon-58.png" width="58" />
        <icon height="72" src="www/res/ios/icon-72.png" width="72" />
        <icon height="76" src="www/res/ios/icon-76.png" width="76" />
        <icon height="80" src="www/res/ios/icon-80.png" width="80" />
        <icon height="87" src="www/res/ios/icon-87.png" width="87" />
        <icon height="100" src="www/res/ios/icon-100.png" width="100" />
        <icon height="114" src="www/res/ios/icon-114.png" width="114" />
        <icon height="120" src="www/res/ios/icon-120.png" width="120" />
        <icon height="144" src="www/res/ios/icon-144.png" width="144" />
        <icon height="152" src="www/res/ios/icon-152.png" width="152" />
        <icon height="167" src="www/res/ios/icon-167.png" width="167" />
        <icon height="180" src="www/res/ios/icon-180.png" width="180" />
        <icon height="1024" src="www/res/ios/icon-1024.png" width="1024" />
        <splash height="480" src="www/res/screen/ios/Default~iphone.png" width="320" />
        <splash height="960" src="www/res/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="www/res/screen/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="www/res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="www/res/screen/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="www/res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="www/res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="www/res/screen/ios/Default-667h@2x~iphone.png" width="750" />
        <splash height="2208" src="www/res/screen/ios/Default-736h@3x~iphone.png" width="1242" />
        <splash height="2436" src="www/res/screen/ios/Default-812h@3x~iphone.png" width="1125" />
    </platform>
    <plugin name="cordova-plugin-battery-status" spec="^1.1.2" />
    <plugin name="cordova-plugin-contacts" spec="^2.0.1" />
    <plugin name="cordova-plugin-device-motion" spec="^1.2.5" />
    <plugin name="cordova-plugin-device-orientation" spec="^1.0.7" />
    <plugin name="cordova-plugin-dialogs" spec="^1.2.1" />
    <plugin name="cordova-plugin-file" spec="^4.1.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.5.1" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-globalization" spec="^1.0.7" />
    <plugin name="cordova-plugin-media" spec="^2.2.0" />
    <plugin name="cordova-plugin-network-information" spec="^1.2.1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.1.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.2.2" />
    <plugin name="ionic-plugin-keyboard" spec="^2.1.0" />
    <plugin name="cordova-plugin-media-capture" spec="^1.4.3">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Neues Foto machen" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Foto hochladen" />
    </plugin>
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Neues Foto machen" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Foto hochladen" />
    </plugin>
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.5.4" />
</widget>
