            <header class="bar-title" id="home-header">
                <!--<h1 class="title">FixMyZ&uuml;rich</h1>-->
                <a class="button-menu"><img src="img/menu.png"></a>
            </header>
                <div class="content" role="main" id="around-content">
                    <h1 class="page-title">
                        Züri wie neu
                    </h1>
                    <script type="text/javascript">
                        var fixmystreet = {
                            'page': 'around',
                            'area': '',
                            'all_pins': '',
                            'latitude': 0,
                            'longitude': 0,

                            'zoom': 5,
                            'numZoomLevels': 8,
                            'zoomOffset': 0,
                            'map_type': "OpenLayers.Layer.WMTS",
                            'pins': [  ]

                        };

                    </script>

                    <div id="map_box">
                        <div id="map"></div>
                            <div id="search">
                                <input name="pc" id="pc" autocorrect="off" autocomplete="off" placeholder="[% loc('Enter a Z&uuml;rich street name') %]"><input type="button" value="" id="btn-search">
                            </div>
                            <div id="swap-map" class="nodisplay">Luftbild</div>
                            <div id="mark-here" class="nodisplay">
                            <a class="button-blue">[% loc('Create Report') %]</a>
                            </div>
                            <!-- a id="saved-reports" class="nodisplay button-grey">View Drafts</a -->
                            <a id="use-location" class="nodisplay button-blue">[% loc('Use this Location') %]</a>
                            <a id="select-another" class="nodisplay button-grey">[% loc('Select another') %]</a>
                            <a id="relocate" class="nodisplay button-grey"><img src="img/location.png"></a>
                    </div>
                </div>
            <nav class="bar-tab nodisplay">
                <ol class="ext-progress">
                    <li class="step step-current">1</li>
                    <li class="step step">2</li>
                    <li class="step step">3</li>
                </ol>
            </nav>
