            <header class="bar-title">
                <div class="button-prev">[% loc('Back') %]</div>
                <h1 class="title">[% loc('Add a Photo') %]</h1>
            </header>
                <div class="content dot-background" role="main">
                    <div id="side-form">
                        <fieldset>
                            <div id="problem_form">
                                <div class="ext-form-content">
                                  <% if ( files.length < 3 ) { %>
                                      <div>
                                        <% if ( files.length == 0 ) { %>
                                          <a class="button-blue" id="take-photo">[% loc('Take Photo') %]</a>
                                        <% } else { %>
                                          <a class="button-blue" id="take-photo">[% loc('Take Another Photo') %]</a>
                                        <% } %>
                                      </div>
                                      <div>
                                        <% if ( files.length == 0 ) { %>
                                          <a class="button-blue" id="add-photo">[% loc('Add Existing Photo') %]</a>
                                        <% } else { %>
                                          <a class="button-blue" id="add-photo">[% loc('Add Another Photo') %]</a>
                                        <% } %>
                                      </div>
                                  <% } %>

                                  <% if ( files.length == 0 ) { %>
                                      <div class="center">
                                          <img class="ext-photo-preview" src="img/placeholder-photo.png" alt="">
                                      </div>
                                  <% } else { %>
                                      <div class="center">
                                          <% _.each(files, function(file, index) { %>
                                              <div class="ext-photo-preview photo-size-<%= files.length %>" style="background-image: url(<%= file %>)">
                                                  <a class="del-photo button-grey" data-file-index="<%= index %>">[% loc('Remove Photo') %]</a>
                                              </div>
                                          <% }); %>
                                      </div>
                                  <% } %>

                                  <% if ( files.length > 0 ) { %>
                                      <div>
                                          <a class="button-blue" id="use-photo">
                                              <% if ( files.length == 1 ) { %>
                                                  [% loc('Use photo') %]
                                              <% } else { %>
                                                  [% loc('Use photos') %]
                                              <% } %>
                                          </a>
                                      </div>
                                  <% } %>
                                </div>

                                <input type="hidden" name="photo" id="form_photo" value="">
                            </div>
                        </fieldset>
                        <div class="photo-guidance">
                            <ul>
                                <li class="do"><span></span>Machen Sie ein Detail- und ein Übersichtsfoto</li>
                                <li class="dont"><span></span>Verhindern Sie persönliche Informationen wie Autonummern oder Personen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            <nav class="bar-tab">
                <ol class="ext-progress">
                    <li class="step step-complete">1</li>
                    <li class="step step-current">2</li>
                    <li class="step">3</li>
                </ol>
            </nav>
