        <header class="bar-title">
            <h1 class="title">[% loc('Report Sent') %]</h1>
        </header>
        <div class="content" role="main">
            <div class="ext-form-content">
                <h3>[% loc('Nearly Done! Now check your email...') %]</h3>

                <p>
                [% loc("If you use web-based email or have 'junk mail' filters, you may wish to check your bulk/spam mail folders: sometimes, our messages are marked that way.") %]
                </p>
                <div>
                  <a class="button-blue" href="index.html" id="button-done">[% loc('Done') %]</a>
                </div>
            </div>
        </div>
