        <header class="bar-title">
            <a class="button-prev">[% loc('Home') %]</a>
            <h1 class="title">[% loc('Settings') %]</h1>
        </header>
        <div class="content dot-background" role="main">
            <ul class="list">
                <li>
                    <a id="settings">
                        [% loc('User details') %]
                        <span class="chevron"></span>
                    </a>
                </li>
                <li>
                    <a id="help">
                        [% loc('Help') %]
                        <span class="chevron"></span>
                    </a>
                </li>
                <li>
                    <a id="privacy">
                        [% loc('Privacy Policy') %]
                        <span class="chevron"></span>
                    </a>
                </li>
            </ul>
        </div>
