div.content {
    position: absolute !important;
    top: 44px;
    right: 0;
    bottom: 30px;
    left: 0;
    margin-top: 0px;
}

#around-content {
    bottom: 0px;
}

[class*="bar-"] {
  position: absolute !important;
  right: 0;
  left: 0;
  z-index: 10;
  height: 44px;
  padding: 5px;
  box-sizing: border-box;
}

.bar-tab {
    position: absolute !important;
    padding-bottom: 3px !important;
    bottom: 0px;
}
