fieldset {
    margin: 0px;
}

input[type="text"], input[type="password"],
input[type="email"], input[type="file"],
input[type="tel"],
textarea {
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 0px;
    padding: 0px;
}

.full-width, .shadow-wrap, #footer-mobileapps, #map_box, .promo, .alert, #front-main #postcodeForm {
    margin: 0em;
}

.problem-header,
ul.issue-list {
    margin-left: 1em;
}

h4.static-with-rule {
    padding-left: 1em;
}

.problem-header h1 {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
}

.problem-header p.sub {
    font-size: 14px;
}

.banner p#fixed {
    background-color: #648721;
}

.banner p#progress {
    color: #1a1a1a;
    background: #f3d74b;
}

.banner p#closed {
    color: #1a1a1a;
    background: #e25436;
}

.page-title {
    position: fixed;
    z-index: 2000;
    width: 100%;
    top: 44px;
    left: 0px;
    color: white;
    background-color: #112855;
    text-align: left;
    font-weight: normal;
    font-size: 1.3em;
    padding: 0.5em 0em 0.5em 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* stop scrolling on iphone */
#container {
    width: 100%;
    height: 100%;
}

#container .container {
    padding-bottom: 0;
}

.nodisplay {
    display: none;
}

.center {
    text-align: center;
}

input[type=submit].button-blue,
.button-grey,
.button-blue,
input[type=submit].button-blue:active,
.button-grey:active,
.button-blue:active {
    font-size: 18px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    margin-top: 0.5em;

    text-align: center;
    width: 90%;
    z-index: 2000;
    padding: 0.4em;
    margin: 0.3em 0.5em 0.1em 0.5em;
    text-transform: none;
    font-weight: normal;
    text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.5);
}

input[type=submit].button-blue,
.button-grey,
.button-blue {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

input[type=submit].button-blue:active,
.button-grey:active,
.button-blue:active {
    box-shadow: none;
}

#error .button-grey,
#error .button-blue {
    margin: 0;
    margin-top: 0.4em;
}

.button-grey a,
.button-blue a {
    text-decoration: none;
}

a:visited.button-grey,
a:visited.button-blue,
a:hover.button-grey,
a:hover.button-blue,
a:active.button-grey,
a:active.button-blue,
a:visited:hover.button-grey,
a:visited:hover.button-blue,
a:visited:active.button-grey,
a:visited:active.button-blue {
    color: white;
    text-decoration: none;
}

.button-grey {
    background-color: #a9a9a9;
    background-image: -webkit-linear-gradient(-90deg,#c9c9c9 0%, #a9a9a9 98%);
    color: white;
}

.button-grey-plain {
    background-color: #a9a9a9;
    background-image: none;
}

input[type=submit].button-blue,
.button-blue {
    background-color: #315db7;
    background-image: -webkit-linear-gradient(90deg, #315db7, #416CC7);
    color: white;
}

.bar-title {
    background: -webkit-linear-gradient(-90deg,rgb(65,108,199) 0%,rgb(32,77,165) 99%);
    background-color: #315db7;
}

.bar-tab {
    height: 30px;
}

#error {
    font-size: 1.1em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -khtml-border-radius: 0.5em;
    border-radius: 0.5em;
    margin-top: 0.5em;

    position: absolute;
    top: 120px;

    text-align: center;
    width: 70%;
    z-index: 2000;
    padding: 0.5em;
    margin: 0em 15% 0em 15%;

    background: #a9a9a9;
    color: white;
}

#first-page {
    background-color: black;
}

#welcome h1 {
    color: white;
    margin: 0.25em;
    font-size: 36px;
}

#welcome p {
    color: white;
    text-align: center;
    font-size: 18px;
    margin: auto;
    width: 80%;
}

#home-header{
    background: -webkit-linear-gradient(-90deg,rgb(65,108,199) 0%,rgb(32,77,165) 99%);
    background-image: url(../img/stadt_zurich-logo.png);
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-color: #315db7;
    background-position: 1em 0.5em;
}

#saved-reports, #select-another {
    position: absolute;
    left: 0px;
    top: 330px;
}

#mark-here, #use-location {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0px;
    bottom: 30px;
    z-index: 2000;
}

#relocate {
    position: absolute;
    left: 4%;
    bottom: 75px;
    height: 32px;
    width: 32px;
    padding: 4px 5px 5px 3px;
    margin: 0px;
    border-radius: 2px;
    background-color: rgb(248,248,248);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#search {
    text-align: center;
    width: 95%;
    position: absolute;
    left: 0px;
    top: 45px;
    z-index: 2000;
    background-color: rgb(201,201,201);
    padding: 0.2em;
    margin: 0.4em;
    border-radius: 6px;
    border-color: rgb(201,201,201);
    line-height: 1.4;
    font-size: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#search #pc {
    width: 80%;
    outline: 0 !important;
    border-color: rgb(201,201,201);
    padding: 0.4em;
    border: none;
}
#search #btn-search {
    background-repeat: no-repeat;
    background-image: url("../img/icons-36-white.png");
    background-position: -540px -44px;
    background-color: rgb(201,201,201);
    border-color: rgb(201,201,201);
    border: none;
    width: 36px;
}

#swap-map {
    position: absolute;
    z-index: 2000;
    bottom: 80px;
    right: 0px;
    background: #a9a9a9;
    background-color: #a9a9a9;
    border-color: #a9a9a9;
    border-radius: 6px 0px 0px 6px;
    color: white;
    line-height: 1.8em;
    font-size: 0.8em;
    width: 5em;
    padding-left: 0.5em;
    text-align: left;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


#OpenLayers_Control_Crosshairs_crosshairs {
    pointer-events: none
}

#around-page .container {
    padding: 0px;
}

#around-page #map_box {
    position: 'absolute';
    top: 0, left: 0, right: 0, bottom: 0;
    padding: 0px;
    height: 100%;
    margin: 0px;
}

.update-img {
    text-align: center;
}

.textpage {
    padding: 1em;
}

.textpage h3,
.textpage dt {
    font-weight: bold;
}

.textpage p {
    margin-left: 0.5em;
}

.textpage dt {
    margin-top: 1em;
}

.textpage dd {
    padding-left: 0em;
    margin-left: 0.5em;
}

.textpage dd p {
    margin-left: 0.5em;
}

.textpage dd ul {
    margin-bottom: 0em;
}

/* Jquery mobile overrides */

.ui-btn, .ui-btn-corner-all, .ui-btn-inner {
    text-decoration: none !important;
    border: 0px !important;
    background: none !important;
}

.ui-icon {
    background-color: inherit !important;
}

.ui-btn-left .ui-btn-inner {
    border-right: 1px solid #7fb900 !important;
}

.ui-btn-right .ui-btn-inner {
    border-left: 1px solid #7fb900 !important;
}

.ui-btn-icon-notext .ui-btn-inner {
    border: 0px !important;
}

.bar-title .button-menu {
    position: absolute;
    right: 0px;
    top: 2px;
    background: none;
    padding: 3px 6px !important;
    margin: 1px 6px 0px 0px !important;
}


.bar-title .button-menu img {
    width: 30px;
    height: 28px;
}

.button-prev, .button-next {
    z-index: 1;
}

.dot-background {
    background-color: transparent;
    background-image: url(../img/bg-grey-dots.png);
}

.ext-progress {
    display: block;
    text-align: center;
    margin: 0.3em 25%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAABlBMVEUaGhoAAAAS3qDqAAAADElEQVQIHWNgoA4AAABIAAG8nVfVAAAAAElFTkSuQmCC) repeat-x scroll 50% 35%;
}

.ext-progress .step {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.25;
    border-radius: 50%;
    -webkit-border-radius: 0.75em;
    background-color: #2a2a2a;
    color: darkgrey;
    text-align: center;
    border: 2px solid darkgrey;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.ext-progress .step:last-child {
    float: right;
}

.ext-progress .step:first-child {
    float: left;
}

.ext-progress .step.step-current {
    background-color: #315db7;
    color: white;
    border-color: #315db7;
}

.ext-progress .step.step-complete {
    text-indent: -999px;
    overflow: hidden;
    background: #2a2a2a url("../img/complete.svg") no-repeat scroll center center;
    background-size: 80% auto;
}

.ext-form-content {
    font-size: 16px;
    display: block;
    background-color: white;
    background-image: -webkit-linear-gradient(-90deg,rgb(238,238,238) 0%,rgb(221,221,221) 99%);
    padding: 0.3em;
    margin: 0.3em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.5em;
}

.ext-form-content > div {
}

.ext-form-content input.button-grey,
.ext-form-content input.button-blue {
    margin: 0.3em 5% 0.1em 5%;
}

.ext-form-content h2, .ext-form-content h3 {
    padding: 0 0.25em;
    color: #315db7;
    text-shadow: none;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.3;
    text-align: left;
}

.ext-form-content h2 {
    margin-top: 1em;
}

.ext-form-content h3 {
    color: #555;
}

.ext-form-content p {
    color: #555;
    padding: 0 0.5em;
    text-shadow: none;
    margin: 2em 0;
    text-align: left;
}

/* override base.css margins */
.ext-form-content textarea {
    margin: 0px;
}

.ext-form-content > div:first-child > label:first-child,
.ext-form-content > label:first-child {
    margin-top: 0em;
}

.ext-form-content label {
    font-weight: normal;
    margin-top: 0.5em;
    padding-left: 0.5em;
}

.ext-form-content select,
.ext-form-content textarea,
.ext-form-content input {
    max-width: 100%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-left: 0.5em;
}

.ext-form-content #save,
.ext-form-content #send_report {
    margin-top: 1em;
}

#form_detail {
    width: 100%;
    min-height: 8em;
}

#form_category {
    width: 100%;
}

#user-details {
    color: black;
    background-color: white;
    text-decoration: none;
    display: block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding: .6em 5px;
    border: 1px solid rgb(128,128,128);
}

.edit_details-info {
    font-size: 0.7em;
    opacity: 0.6;
}

.form-error {
    color: red;
}

.ext-photo-preview {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: auto;
    max-height: 60%;
    max-width: 100%;
}

#ajaxOverlay, #errorOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3000;
}

.spinner {
    margin: 60% auto 0 auto;
    height: 32px;
    width:32px;

    background-image: url(../img/ajax-loader.gif);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    box-shadow: 0px 5px 20px #000;
}

ul.list  {
    margin-left: 0px;
}

.list li {
    list-style: none;
}

.list li a,
.list li a:active {
    text-decoration: none;
}

.bar-title [class*=button],
.bar-title .button-next:after,
.bar-title .button-prev:before {
    background: -webkit-linear-gradient(-90deg,rgb(65,108,199) 0%,rgb(32,77,165) 99%);
}

.button-gradient:after,
.button-gradient:before {
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000), color-stop(.33, #000), color-stop(.5, transparent), to(transparent));
                  mask-image: gradient(linear, left top, right bottom, from(#000), color-stop(.33, #000), color-stop(.5, transparent), to(transparent));
}

.button-no-gradient {
    text-decoration: none !important;
    background-image: none !important;
    z-index: 1;
}

.button-no-gradient:after,
.button-no-gradient:before {
    background-image: none !important;
    background-color: #315db7;
    box-shadow: none !important;
    z-index: -1;
}

.button-no-gradient:active {
    box-shadow: none !important;
    padding-top: 5px;
    padding-bottom: 3px;
}
.bar-title .button-prev:active:before{
    border-left: none !important;
}

.bar-title [class*=button]:active,
.bar-title .button-prev:active,
.bar-title .button-next:active:after,
.bar-title .button-prev:active:before {
    background-image: none !important;
    background-color: #315db7;
}

/*.bar-title .button-prev:active:before,*/
.bar-title .button-prev:before {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#204DA5), to(#416CC7));
}
