/* stop scrolling on iphone */
#container {
    width: 100%;
    height: 100%;
}

#container .container {
    padding-bottom: 0;
}

.nodisplay {
    display: none;
}


.button-grey,
.button-blue {
    font-size: 1.2em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -khtml-border-radius: 0.25em;
    border-radius: 0.25em;
    margin-top: 0.5em;

    text-align: center;
    width: 95%;
    z-index: 2000;
    padding: 0.2em;
    margin: 0.4em;
}

#error .button-grey,
#error .button-blue {
    margin: 0;
    margin-top: 0.4em;
}

.button-grey a,
.button-blue a {
    text-decoration: none;
}

a:visited.button-grey,
a:visited.button-blue,
a:hover.button-grey,
a:hover.button-blue,
a:active.button-grey,
a:active.button-blue,
a:visited:hover.button-grey,
a:visited:hover.button-blue,
a:visited:active.button-grey,
a:visited:active.button-blue {
    color: white;
    text-decoration: none;
}

.button-grey {
    background: #a9a9a9;
    color: white;
}

.button-blue {
    background: #315db7;
    color: white;
}

.bar-title {
    background: #315db7;
}

#error {
    font-size: 1.2em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -khtml-border-radius: 0.25em;
    border-radius: 0.25em;
    margin-top: 0.5em;

    position: absolute;
    top: 100px;

    text-align: center;
    width: 70%;
    z-index: 2000;
    padding: 0.2em;
    margin: 0em 15% 0em 15%;

    background: #a9a9a9;
    color: white;
}

#saved-reports, #select-another {
    position: absolute;
    left: 0px;
    top: 330px;
}
#mark-here, #use-location {
    position: absolute;
    left: 0px;
    top: 300px;
}

#search {
    text-align: center;
    width: 95%;
    position: absolute;
    left: 0px;
    top: 15px;
    z-index: 2000;
    background-color: rgb(201,201,201);
    padding: 0.2em;
    margin: 0.4em;
    border-radius: 6px;
    border-color: rgb(201,201,201);
    line-height: 1.4;
    font-size: 16px;
}
#search #pc {
    width: 80%;
    outline: 0 !important;
    border-color: rgb(201,201,201);
    padding: 0.4em;
    border: none;
}
#search #btn-search {
    background-repeat: no-repeat;
    background-image: url("themes/zurich/images/icons-36-white.png");
    background-position: -540px -44px;
    background-color: rgb(201,201,201);
    border-color: rgb(201,201,201);
    border: none;
    width: 36px;
}

#OpenLayers_Control_Crosshairs_crosshairs {
    pointer-events: none
}

#around-page .container {
    padding: 0px;
}

#around-page #map_box {
    position: 'absolute';
    top: 0, left: 0, right: 0, bottom: 0;
    padding: 0px;
    height: 100%;
    margin: 0px;
}

/* Jquery mobile overrides */

.ui-btn, .ui-btn-corner-all, .ui-btn-inner {
    text-decoration: none !important;
    border: 0px !important;
    background: none !important;
}

.ui-icon {
    background-color: inherit !important;
}

.ui-btn-left .ui-btn-inner {
    border-right: 1px solid #7fb900 !important;
}

.ui-btn-right .ui-btn-inner {
    border-left: 1px solid #7fb900 !important;
}

.ui-btn-icon-notext .ui-btn-inner {
    border: 0px !important;
}

.bar-title .button-menu {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    border: none;
    box-shadow: none;
    background: none;
}

.button-prev, .button-next {
    z-index: 1;
}

.ext-progress {
    display: block;
    text-align: center;
    margin: 0.5em 25%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAABlBMVEUaGhoAAAAS3qDqAAAADElEQVQIHWNgoA4AAABIAAG8nVfVAAAAAElFTkSuQmCC) repeat-x scroll center center;
}

.ext-progress .step {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.25;
    border-radius: 50%;
    -webkit-border-radius: 0.75em;
    background-color: #2a2a2a;
    color: darkgrey;
    text-align: center;
    border: 2px solid darkgrey;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.ext-progress .step:last-child {
    float: right;
}

.ext-progress .step:first-child {
    float: left;
}

.ext-progress .step.step-current {
    background-color: #315db7;
    color: white;
    border-color: #315db7;
}

.ext-progress .step.step-complete {
    text-indent: -999px;
    overflow: hidden;
    background: #2a2a2a url("../img/complete.svg") no-repeat scroll center center;
    background-size: 80% auto;
}

.ext-form-content {
    display: block;
    background-color: white;
    padding: 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.5em;
}

.ext-form-content form > div {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
}

.ext-form-content h2, .ext-form-content h3 {
    padding: 0 0.25em;
    color: #315db7;
    text-shadow: none;
    font-weight: normal;
    font-size: 1.75em;
    line-height: 1.3;
    text-align: left;
}

.ext-form-content h2 {
    margin-top: 1em;
}

.ext-form-content h3 {
    color: #555;
}

.ext-form-content p {
    color: #555;
    padding: 0 0.5em;
    text-shadow: none;
    margin: 2em 0;
    text-align: left;
}

.ext-photo-preview {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: auto;
    max-height: 60%;
    max-width: 100%;
}

#ajaxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3000;
}

#spinner {
    margin: 60% auto 0 auto;
    display: block;
}
